body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: lightblue;
}

h1{
  font-size: 40;
  font-family: fantasy;
}
p{
  color: grey;
  font-family: cursive;
}
