body {
  padding-top: 5rem;
}
.starter-template {
  padding: 2.5rem 3rem;
  text-align: center;
  background-image: url(https://www.jet2holidays.com/-/media/destination%20guide/portugal/fao_albufeira_1014_ps_01.jpg?h=500&w=1920&crop=1&hash=A0CEEE8B206195339F558064675C0E9702B72B28);
}

h2{
  font-size: 40;
  font-family: fantasy;
  text-align: center;
}

p2{
  color: grey;
  font-family: cursive;
  text-align: center;
}

h1{
  font-size: 40;
  font-family: fantasy;
  text-align: center;
}

p{
  color: black;
  font-family: cursive;
}

p1{
  color: black;
}
.carouselExampleIndicators{
  align-items: center;
}
