body {
  padding-top: 5rem;
}
.starter-template {
  padding: 2.5rem 3rem;
  text-align: center;
  background-color: lightblue;
}

carouselExampleIndicators{
  text-align: center;
}

h1{
  font-size: 40;
  font-family: fantasy;
  text-align: center;
}
p{
  color: grey;
  font-family: cursive;
}
